﻿@model CurrencyNumberToWord.Model.Format

@{
    ViewData["Title"] = "Index";
}

<h2>AKQA Task</h2>
@using (Html.BeginForm("Result", "Default", FormMethod.Post))
{
<div style="border:solid;height:500px;width:800px">
    <dl class="dl-horizontal">
        <dt>

            @* @Html.DisplayNameFor(model => model.FormatedString)*@
            @Html.Label("Name :         ")

            @Html.TextBoxFor(model => model.PersonName)
            @Html.ValidationMessageFor(model => model.PersonName)
            <br /><br />
            @Html.Label("Currency :")
            @Html.TextBoxFor(model => model.FormatedString)
            @Html.ValidationMessageFor(model => model.FormatedString)
        </dt>
        <dd>
            <br />
            <br />
            <button type="submit">Click For Result</button>
            <br />
            <br />
            @Html.Label("OutPut :")
            <br />
            @Html.DisplayFor(model=>model.PersonName)
            <br />
            @Html.DisplayFor(model => model.FormatedString)

        </dd>
    </dl>
</div>
}
